[submodule "HackerRank"]
	path = HackerRank
	url = git@github.com:2kabhishek/HackerRank
[submodule "LeetCode"]
	path = LeetCode
	url = git@github.com:2kabhishek/LeetCode
[submodule "Exercism"]
	path = Exercism
	url = git@github.com:2kabhishek/Exercism
